.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header__container {
  width: fit-content;
  margin: 28px 0 24px 27px; 
}

.logo_header {
  width: 126px;
  height: 24px;
  object-fit: contain;
}

.header__line {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .header__container {
    margin: 40px 0 20px 45px;
  }

  .logo_header {
    width: 173px;
    height: 33px;
  }

  .header__line {
    width: 880px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .header__container {
    margin: 40px 0 20px 275px;
  }
}
